node_modules/

logs/
*.log

.env

/dist
/build

.DS_Store
Thumbs.db

*.tmp
*.temp
prisma/schema.prisma
prisma/migrations/migration_lock.toml
prisma/migrations/20241204114623_init_resources/migration.sql
.gitignore

docker-compose.yml
Dockerfile
